*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 10px 30px; 
    border-radius: 5px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
a{
    text-decoration: none;
}
.section_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0; 
}

.logo {
    letter-spacing: 2px;
    font-size: 26px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(90deg, #c04425, #feb47b); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, background 0.3s ease;
    margin: 0; 
    padding: 0; 
}

.logo_1 {
    letter-spacing: 2px;
    font-size: 28px;
    color: #3a86ff;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    background: linear-gradient(90deg, #3a86ff, #d00000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    margin: 0; 
    padding: 0; 
}





.section_1, .section_2{
    height: 100%;
    width: 100%;
}
.section_2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container {
    display: flex;
    gap: 20px;
    background: none; 
    border: none; 
    box-shadow: none; 
}

.container a {
    text-decoration: none; 
    font-size: 18px; 
    font-family: "Poppins", sans-serif;
    font-weight: 600; 
    color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 30px; 
    background: linear-gradient(90deg, #3a86ff, #8338ec); 
    transition: all 0.3s ease; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
    letter-spacing: 1px; 
    display: inline-block; 
}

.container a:hover {
    background: linear-gradient(90deg, #ff006e, #fb5607); 
    color: #000000; 
    transform: scale(1.1); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}


  
  @media (max-width: 768px) {
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  
    .section_1 {
        display: flex;       
        justify-content: start; 
        align-items: center;               
        width: 100%; 
        height: 100%;    
    }
  
    .logo{
        display: flex;       
        justify-content: center; 
        align-items: center;  
   
        
    }
  
    .section_1 .logo span {
        font-size: 16px;
    }
  
    .section_2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
         

    }
  
    .container {       
        display: flex;       
        justify-content: center; 
        align-items: center;  
                 
    }
    .container a{
        font-size: 16px;
    }
    
  }
  
